<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>google</string>
			<key>CFBundleURLName</key>
			<string>Google Sheets</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.301925252646-k9ev1fi2eqcb0abkoc8glqjkupajrb5e</string>
			</array>
		</dict>
		<dict/>
	</array>
</dict>
</plist>
